<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../src/css/linkSetting.css">
    <title>LinkSetting</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="input-group vertical-top-5">
                <div class="col-2">
                    <span class="input-group-text btn-primary">LinkSetting_1</span>
                </div>
                <div class="col-4">
                    <input type="text" aria-label="Link" class="form-control" placeholder="LinkName">
                </div>
                <div class="col-6">
                    <input type="text" aria-label="URL" class="form-control" placeholder="URL">
                </div>
            </div>
            <div class="input-group vertical-top-5">
                <div class="col-2">
                    <span class="input-group-text btn-danger">LinkSetting_2</span>
                </div>
                <div class="col-4">
                    <input type="text" aria-label="Link" class="form-control" placeholder="LinkName">
                </div>
                <div class="col-6">
                    <input type="text" aria-label="URL" class="form-control" placeholder="URL">
                </div>
            </div>
            <div class="input-group vertical-top-5">
                <div class="col-2">
                    <span class="input-group-text btn-primary">LinkSetting_3</span>
                </div>
                <div class="col-4">
                    <input type="text" aria-label="Link" class="form-control" placeholder="LinkName">
                </div>
                <div class="col-6">
                    <input type="text" aria-label="URL" class="form-control" placeholder="URL">
                </div>
            </div>
            <div class="input-group vertical-top-5">
                <div class="col-2">
                    <span class="input-group-text btn-danger">LinkSetting_4</span>
                </div>
                <div class="col-4">
                    <input type="text" aria-label="Link" class="form-control" placeholder="LinkName">
                </div>
                <div class="col-6">
                    <input type="text" aria-label="URL" class="form-control" placeholder="URL">
                </div>
            </div>
            <div class="input-group vertical-top-5">
                <div class="col-2">
                    <span class="input-group-text btn-primary">LinkSetting_5</span>
                </div>
                <div class="col-4">
                    <input type="text" aria-label="Link" class="form-control" placeholder="LinkName">
                </div>
                <div class="col-6">
                    <input type="text" aria-label="URL" class="form-control" placeholder="URL">
                </div>
            </div>
            <div class="input-group vertical-top-5">
                <div class="col-2">
                    <span class="input-group-text btn-danger">LinkSetting_6</span>
                </div>
                <div class="col-4">
                    <input type="text" aria-label="Link" class="form-control" placeholder="LinkName">
                </div>
                <div class="col-6">
                    <input type="text" aria-label="URL" class="form-control" placeholder="URL">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row vertical-top-5">
            <div class="col-12">
                <button type="button" id="start" class="form-control btn btn-success">Submit</button>
            </div>
        </div>
    </div>
    </div>
</body>

</html>