.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.vertical-10 {
  margin-top:5px;
  margin-bottom:5px;
}

input {
    text-align: center;
}

input::placeholder{
  text-align: center;
  color: white;
  font-weight: bold;
}

textarea{
  resize: none;
}

.timer {
  color: #010079;
  text-shadow: 0 0 5px white;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}